*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: 5vh;
padding: 20px;
overflow: hidden;
border-bottom: 2px solid gray;
background-color: #f33f3;
}
ul{
    font-size: 15px;
    float: right;
    list-style-type: none;
}
ul li{
    display: inline-block;
}
ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #E3BABA; 
    padding: 5px 50px;
    border: none;
    transition: o.6s ease;

}
ul li a:hover{
    color: red;
}
ul li.active a{
        color: red;
}
#download{
    position: absolute;
    top: 50%;
    left: 50%;
}
#res{
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    padding: 20px 30px;
    text-decoration-line: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#dev{
    color: green;   
    font-family: Baloo Tamma 2 SemiBold;
    font-size: 30px;
   }